@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";
.itemdetails {
    height: 70vh;
    width: 68vw;
    gap: 2.5vw;
}

.idimage {
    height: 70vh;
    width: 26vw;
}

.details {
    height: 70vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.tsdetail {
    font-weight: bolder;
    font-size: 7vh;
}
